body {
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  background: #76b5f8 url("../img/1.png") no-repeat center center;
  background-size: cover;
}

h1 {
  width: 260px;
  font-family: "Georgia", serif;
  font-size: 36px;
  line-height: 36px;
}

h2 {
  padding-bottom: 12px;
  border-bottom: 1px solid #0004ff;
}

.container {
  width: 480px;
  margin: 0 auto;
}

.site-header img {
  display: block;
  margin: 0 auto;
}

.skills-list {
  padding: 0;
  list-style: none;
}

.site-footer {
  display: flex;
  justify-content: space-between;
  color: #999999;
}

.site-footer p {
  background-color: #ffe2e2;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  cursor: pointer;
}

#btn_wishes {
  background-color: #26a1ff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

#p_wishes {
  height: 150px;
  font-size: 28px;
  line-height: 40px;
  color: #000000;
  text-align: justify;
}